

    /* Center the water video in background */
    #water-video{
        position: absolute;
        z-index: -1;
        left: 50%;
        top:50%;
        width:auto;
        height: 100%;
        transform: translate(-50%, -50%);
    }
    @media screen and (min-aspect-ratio: 16/9) { 
        #water-video{
            height:auto;
            width:100%;
        }
    }



    /* Black nav bar */
    .navbar-default{
        background:white;
        border-color:white;
        position: relative;
        z-index: 1000;
    }
    .navbar-default .navbar-nav>.active>a, 
    .navbar-default .navbar-nav>.active>a:focus, 
    .navbar-default .navbar-nav>.active>a:hover{
        background: #000;
    }


    /* Main header */
    #main-header{
       background-image: url(img/tracks.jpg);
       background-size: cover;
       background-position: center;
    text-align: center;
       color:black;
       font-family: 'Alegreya', serif;
       min-height:720px;
       padding-top: 250px;

    }
    #main-header h1{
        /text-transform: uppercase;
        font-size: 80px;
    }
    #main-header h2{
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size:40px
    }
    #header-container{
        position: relative;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    #main-header button{
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 100;
        background: none;
        color:#ccc;
        margin: 20px 0;
    }

    /* forest */
    .forest, .solutions{
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    .forest-container{
        position: relative;
        height: 1344px;
    }


    .section-title{
        padding-top:300px;
        padding-bottom:300px;
    }

    .section-title h2{
        font-weight: 800;
    }
